<h1>Articles#show</h1>
<%= render "partials/notifications" %>
<div class="jumbotron LightGoldenrodYellow">
  <h1><%= @article.inspect %></h1>
  <h1 class="text-center"><%= @article.title %></h1>
  <h1 class="text-center"><%= @article.body %></h1>
  <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning" %>
  <%= link_to "Back", root_path, class: "btn btn-primary" %>
</div>